<div class="row album-grid">
{{#each albums}}
<div class="col-md-3 col-sm-8 col-xs-12 column">
	<a href="/{{id}}" style="text-decoration: none">
	<div class="album">
		<img src="{{ attributes.image }}">
		<h1>{{ attributes.name }}</h1>
		<p>{{ attributes.description }}</p>
	</div>
	</a>
</div>
{{/each}}
</div>