<div class="album-grid">
{{#each albums}}
<a href="/{{id}}">
<div class="album">
	<img src="{{ attributes.image }}">
	<h1>{{ attributes.name }}</h1>
	<p>{{ attributes.description }}</p>
</div>
</a>
{{/each}}
</div>