$blue-color: #87CEEB;
$font: Arial, Helvetica, sans-serif;

.fb-login-button {
  padding: 5px;
}

#app-views {
  .album-grid {
    text-align: center;
    .column {
      display: inline-block;
      float: none;
      vertical-align: top;
      text-align: left;
    	.album {
    		img {
          padding: 15px;
    			width: 100%;
    			height: 100%;
    		}
    		h1 {
    			font-family: $font;
      		font-size: 20pt;
          color: black;
          margin-top: 0px;
          padding: 0px 15px 0px;
          font-weight: bold;
    		}
    		p {
    			font-family: $font;
    		  font-size: 10pt;	
          line-height: 20px;
          color: #A8A8A8;
          font-style: italic;
          padding: 0px 15px 0px;
      	}
      }
  	}
  }
}