#app-nav {
	.navbar-default {
		position: relative;
		vertical-align: center;
		padding-top: 10px;
		background-color: lightGray;
		border-color: white;
		img {
			float: right;
		}
		p {
			float: right;
			padding-right: 20px;
		}
		button {
			float: right;
			padding: 3px 10px 3px;
			margin-right: 20px;
		}
		.logout-button {
			width: 85px;
			height: 25px;
			float: right;
		}
	}
}